.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/main/res/raw/amazon_application_key.txt
/app/src/main/res/raw/amazon_access_key.txt
/app/src/main/res/raw/amazon_secret_key.txt
/app/src/main/res/raw/amazon_associate_id.txt
/app/src/main/res/raw/key.txt
/app/src/main/res/raw/etsy_key.txt